@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <table style="width:100%;">
        <tr>
            <td>Event Name</td>
            <td><input id="EventName" type="text" /></td>
        </tr>
        <tr>
            <td>Event Date</td>
            <td>
                <select id="Select1">
                    <option>test</option>

                </select>
            </td>

        </tr>
        <tr>
            <td>Start Date</td>
            <td>Make datepicker here</td>
            <td>End Date</td>
            <td>Make datepicker heres</td>
        </tr>
        <tr>
            <td>Location</td>
            <td><input id="Location" type="text"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                <select id="Select1">
                    <option>options will go here</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Description</td>
        </tr>
        <tr>
            <td>
                <textarea id="DescriptionArea" rows="5" cols="50"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Additional info
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="TextArea1" rows="2" cols="20"></textarea>
            </td>
        </tr>
        <tr>
            <td>Logo Graphic</td>
            <td>//figure out upload file here</td>
        </tr>
        <tr>
            <td><input id="SubmitNewEvent" type="submit" value="Create Event" /></td>
            <td><input id="BackNewEvent" type="submit" value="Back" /></td>
        </tr>
    </table>
}
