        <div class="col-sm-2 col-md-2">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-th">
                                </span>Events
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span><a href="">My Events</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                        <a href="#update-modal" type="button" data-toggle="modal" data-target="#update-modal">Create</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span><a href="">Search</a></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="glyphicon glyphicon-user">
                                </span>Account
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a id="update-profile" href="">Update Profile</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a id="change-password" href="">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="" class="text-danger">
                                            Delete Account
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
